<div class="row">
    <div class="col-12">
        <button class="btn btn-primary" [routerLink]="['/']">
            << Userlist
        </button>
    </div>
</div>
<div class="row">
    <div class="col-12">
      <div class="container-fluid">
        
        <div class="row">
            <div class="column" style="background-color:#aaa;">
            <h2>Name</h2>
            <p> {{this.selecteduser.name}}</p>
            </div>
            <div class="column" style="background-color:#bbb;">
            <h2>Email</h2>
            <p> {{this.selecteduser.email}}</p>
            </div>
        </div>
        
        <div class="row">
            <div class="column" style="background-color:#ccc;">
            <h2>Phone</h2>
            <p> {{this.selecteduser.phone}}</p>
            </div>
            <div class="column" style="background-color:#ddd;">
            <h2>Address</h2>
            <p> {{this.selecteduser.address}}</p>
            </div>
        </div>
        
</div>
</div>
</div>